/* reset ================================================ */
*{
  margin:0;
  padding:0;
}


/* all ================================================== */
.main{
  width: 100%;
  height: auto;
  background-color: #e2e2e2;
}

.container{
  padding-top: 50px;
  display: block;
  width: auto;
  max-width: 600px;
  min-height: 800px;
  height: auto;
  margin: 0 auto;
  background-color: WHITE;
}

header{
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #b8d9ed;
}

.header-logo{
  position: absolute;
  margin: auto;
  margin-left: 10%;
  display: block;
  font-size: 36px;
}

.header-list{
  display: block;
  float: right;
}

.title{
  text-align: center;
  font-size: 25px;
}

.main-message{
  margin:0 5%;
  margin-top: 50px;
}
